@import "tailwindcss";

@layer utilities {
  
  .scrollbar::-webkit-scrollbar {
    width: 2px;
  }

  
  .scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  
  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-ws-green-400);
    border-radius: 20px;
  }

  
  .scrollbar-hide::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  
  .scrollbar-hide {
    scrollbar-width: none;
  }
}

@theme inline {
  /* --font-mono: var(--font-geist-mono); */

  --color-ws-green-50: #ece5dd;
  --color-ws-green-100: #dcf8c6;
  --color-ws-green-200: #25d366;
  --color-ws-green-300: #128c7e;
  /* Deep one */
  --color-ws-green-400: #15803d;
}

body {
  margin: 0;
  padding: 0;
}